body {

font-family: Arial, sans-serif;

background-color: #fafafa;

color: #333;

text-align: center;

margin: 0;

padding: 0;

}

header, footer {

background-color: #004aad;

color: white;

padding: 1rem;

}

main {

padding: 2rem;

}